<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>공대 시트</title>
    <link href="static/base.css" rel="stylesheet" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="static/base.js"></script>
</head>
<body>
<section class="header">
    <div class="header_box">
        <div class="title">
            <span id="unique_id">???</span> <span class="slash">/</span> <span id="team_name">공대를 찾아주세요.</span>
        </div>
        <div class="menu active" id="overview">파밍 상태</div>
        <div class="menu" id="find_team">공대 찾기/만들기</div>
    </div>
</section>
<section class="tab overview">
    <section class="body">
        <div class="outer_1"><div class="outer_2"><div class="outer_3"><div class="sheet">
            <div class="sheet_title">확정템 분배 상황</div>
            <div class="loading">데이터 로딩 중...</div>
            <div class="fix_item_box" id="fix_right">
                <img class="fix_item_img" src="static/icons/right.png" alt="경화약">
                <div class="job_list"></div>
                <div class="add_job">
                    <div class="fix_add_button">+</div>
                    <div class="fix_add_list">
                        <img job="PLD" class="fix_add_icon" src="static/icons/PLD.png">
                        <img job="WAR" class="fix_add_icon" src="static/icons/WAR.png">
                        <img job="DRK" class="fix_add_icon" src="static/icons/DRK.png"><br>
                        <img job="WHM" class="fix_add_icon" src="static/icons/WHM.png">
                        <img job="SCH" class="fix_add_icon" src="static/icons/SCH.png">
                        <img job="AST" class="fix_add_icon" src="static/icons/AST.png"><br>
                        <img job="DRG" class="fix_add_icon" src="static/icons/DRG.png">
                        <img job="MNK" class="fix_add_icon" src="static/icons/MNK.png">
                        <img job="NIN" class="fix_add_icon" src="static/icons/NIN.png">
                        <img job="SAM" class="fix_add_icon" src="static/icons/SAM.png"><br>
                        <img job="BRD" class="fix_add_icon" src="static/icons/BRD.png">
                        <img job="MCH" class="fix_add_icon" src="static/icons/MCH.png"><br>
                        <img job="BLM" class="fix_add_icon" src="static/icons/BLM.png">
                        <img job="SMN" class="fix_add_icon" src="static/icons/SMN.png">
                        <img job="RDM" class="fix_add_icon" src="static/icons/RDM.png">
                    </div>
                </div>
            </div>
            <div class="fix_item_box" id="fix_left">
                <img class="fix_item_img" src="static/icons/left.png" alt="섬유">
                <div class="job_list"></div>
                <div class="add_job" style="z-index: 99;">
                    <div class="fix_add_button">+</div>
                    <div class="fix_add_list">
                        <img job="PLD" class="fix_add_icon" src="static/icons/PLD.png">
                        <img job="WAR" class="fix_add_icon" src="static/icons/WAR.png">
                        <img job="DRK" class="fix_add_icon" src="static/icons/DRK.png"><br>
                        <img job="WHM" class="fix_add_icon" src="static/icons/WHM.png">
                        <img job="SCH" class="fix_add_icon" src="static/icons/SCH.png">
                        <img job="AST" class="fix_add_icon" src="static/icons/AST.png"><br>
                        <img job="DRG" class="fix_add_icon" src="static/icons/DRG.png">
                        <img job="MNK" class="fix_add_icon" src="static/icons/MNK.png">
                        <img job="NIN" class="fix_add_icon" src="static/icons/NIN.png">
                        <img job="SAM" class="fix_add_icon" src="static/icons/SAM.png"><br>
                        <img job="BRD" class="fix_add_icon" src="static/icons/BRD.png">
                        <img job="MCH" class="fix_add_icon" src="static/icons/MCH.png"><br>
                        <img job="BLM" class="fix_add_icon" src="static/icons/BLM.png">
                        <img job="SMN" class="fix_add_icon" src="static/icons/SMN.png">
                        <img job="RDM" class="fix_add_icon" src="static/icons/RDM.png">
                    </div>
                </div>
            </div>
            <div class="fix_item_box" id="fix_weapon">
                <img class="fix_item_img" src="static/icons/weapon.png" alt="무기상자">
                <div class="job_list"></div>
                <div class="add_job" style="z-index: 98;">
                    <div class="fix_add_button">+</div>
                    <div class="fix_add_list">
                        <img job="PLD" class="fix_add_icon" src="static/icons/PLD.png">
                        <img job="WAR" class="fix_add_icon" src="static/icons/WAR.png">
                        <img job="DRK" class="fix_add_icon" src="static/icons/DRK.png"><br>
                        <img job="WHM" class="fix_add_icon" src="static/icons/WHM.png">
                        <img job="SCH" class="fix_add_icon" src="static/icons/SCH.png">
                        <img job="AST" class="fix_add_icon" src="static/icons/AST.png"><br>
                        <img job="DRG" class="fix_add_icon" src="static/icons/DRG.png">
                        <img job="MNK" class="fix_add_icon" src="static/icons/MNK.png">
                        <img job="NIN" class="fix_add_icon" src="static/icons/NIN.png">
                        <img job="SAM" class="fix_add_icon" src="static/icons/SAM.png"><br>
                        <img job="BRD" class="fix_add_icon" src="static/icons/BRD.png">
                        <img job="MCH" class="fix_add_icon" src="static/icons/MCH.png"><br>
                        <img job="BLM" class="fix_add_icon" src="static/icons/BLM.png">
                        <img job="SMN" class="fix_add_icon" src="static/icons/SMN.png">
                        <img job="RDM" class="fix_add_icon" src="static/icons/RDM.png">
                    </div>
                </div>
            </div>
        </div></div></div></div>
    </section>
    <section class="body">
        <div class="outer_1"><div class="outer_2"><div class="outer_3"><div class="sheet">
            <div class="sheet_title">직업별 파밍 상태</div>
            <div class="loading">데이터 로딩 중...</div>
            <div class="job_box" id="PLD">
                <img class="job_img" src="static/icons/PLD.png" alt="나이트">
                <div class="item_status">
                    <div class="bis">
                        <div class="item_title">목표</div>
                        <div class="item weapon"></div>
                        <div class="item sub_weapon" style="z-index: 21;"></div>
                        <div class="item head"></div>
                        <div class="item chest"></div>
                        <div class="item hands"></div>
                        <div class="item waist"></div>
                        <div class="item legs"></div>
                        <div class="item feet"></div>
                        <div class="item ears"></div>
                        <div class="item neck"></div>
                        <div class="item wrist"></div>
                        <div class="item ring_left"></div>
                        <div class="item ring_right"></div>
                    </div>
                    <hr>
                    <div class="current">
                        <div class="item_title">현재</div>
                        <div class="item weapon"></div>
                        <div class="item sub_weapon"></div>
                        <div class="item head"></div>
                        <div class="item chest"></div>
                        <div class="item hands"></div>
                        <div class="item waist"></div>
                        <div class="item legs"></div>
                        <div class="item feet"></div>
                        <div class="item ears"></div>
                        <div class="item neck"></div>
                        <div class="item wrist"></div>
                        <div class="item ring_left"></div>
                        <div class="item ring_right"></div>
                    </div>
                </div>
            </div>
            <div class="job_box" id="WAR">
                <img class="job_img" src="static/icons/WAR.png" alt="전사">
                <div class="item_status">
                    <div class="bis">
                        <div class="item_title">목표</div>
                        <div class="item weapon"></div>
                        <div class="item head"></div>
                        <div class="item chest"></div>
                        <div class="item hands"></div>
                        <div class="item waist"></div>
                        <div class="item legs"></div>
                        <div class="item feet"></div>
                        <div class="item ears"></div>
                        <div class="item neck"></div>
                        <div class="item wrist"></div>
                        <div class="item ring_left"></div>
                        <div class="item ring_right"></div>
                    </div>
                    <hr>
                    <div class="current">
                        <div class="item_title">현재</div>
                        <div class="item weapon"></div>
                        <div class="item head"></div>
                        <div class="item chest"></div>
                        <div class="item hands"></div>
                        <div class="item waist"></div>
                        <div class="item legs"></div>
                        <div class="item feet"></div>
                        <div class="item ears"></div>
                        <div class="item neck"></div>
                        <div class="item wrist"></div>
                        <div class="item ring_left"></div>
                        <div class="item ring_right"></div>
                    </div>
                </div>
            </div>
            <div class="job_box" id="DRK">
                <img class="job_img" src="static/icons/DRK.png" alt="암흑기사">
                <div class="item_status">
                    <div class="bis">
                        <div class="item_title">목표</div>
                        <div class="item weapon"></div>
                        <div class="item head"></div>
                        <div class="item chest"></div>
                        <div class="item hands"></div>
                        <div class="item waist"></div>
                        <div class="item legs"></div>
                        <div class="item feet"></div>
                        <div class="item ears"></div>
                        <div class="item neck"></div>
                        <div class="item wrist"></div>
                        <div class="item ring_left"></div>
                        <div class="item ring_right"></div>
                    </div>
                    <hr>
                    <div class="current">
                        <div class="item_title">현재</div>
                        <div class="item weapon"></div>
                        <div class="item head"></div>
                        <div class="item chest"></div>
                        <div class="item hands"></div>
                        <div class="item waist"></div>
                        <div class="item legs"></div>
                        <div class="item feet"></div>
                        <div class="item ears"></div>
                        <div class="item neck"></div>
                        <div class="item wrist"></div>
                        <div class="item ring_left"></div>
                        <div class="item ring_right"></div>
                    </div>
                </div>
            </div>
            <div class="job_box" id="WHM">
                <img class="job_img" src="static/icons/WHM.png" alt="백마도사">
                <div class="item_status">
                    <div class="bis">
                        <div class="item_title">목표</div>
                        <div class="item weapon"></div>
                        <div class="item head"></div>
                        <div class="item chest"></div>
                        <div class="item hands"></div>
                        <div class="item waist"></div>
                        <div class="item legs"></div>
                        <div class="item feet"></div>
                        <div class="item ears"></div>
                        <div class="item neck"></div>
                        <div class="item wrist"></div>
                        <div class="item ring_left"></div>
                        <div class="item ring_right"></div>
                    </div>
                    <hr>
                    <div class="current">
                        <div class="item_title">현재</div>
                        <div class="item weapon"></div>
                        <div class="item head"></div>
                        <div class="item chest"></div>
                        <div class="item hands"></div>
                        <div class="item waist"></div>
                        <div class="item legs"></div>
                        <div class="item feet"></div>
                        <div class="item ears"></div>
                        <div class="item neck"></div>
                        <div class="item wrist"></div>
                        <div class="item ring_left"></div>
                        <div class="item ring_right"></div>
                    </div>
                </div>
            </div>
            <div class="job_box" id="SCH">
                <img class="job_img" src="static/icons/SCH.png" alt="학자">
                <div class="item_status">
                    <div class="bis">
                        <div class="item_title">목표</div>
                        <div class="item weapon"></div>
                        <div class="item head"></div>
                        <div class="item chest"></div>
                        <div class="item hands"></div>
                        <div class="item waist"></div>
                        <div class="item legs"></div>
                        <div class="item feet"></div>
                        <div class="item ears"></div>
                        <div class="item neck"></div>
                        <div class="item wrist"></div>
                        <div class="item ring_left"></div>
                        <div class="item ring_right"></div>
                    </div>
                    <hr>
                    <div class="current">
                        <div class="item_title">현재</div>
                        <div class="item weapon"></div>
                        <div class="item head"></div>
                        <div class="item chest"></div>
                        <div class="item hands"></div>
                        <div class="item waist"></div>
                        <div class="item legs"></div>
                        <div class="item feet"></div>
                        <div class="item ears"></div>
                        <div class="item neck"></div>
                        <div class="item wrist"></div>
                        <div class="item ring_left"></div>
                        <div class="item ring_right"></div>
                    </div>
                </div>
            </div>
            <div class="job_box" id="AST">
                <img class="job_img" src="static/icons/AST.png" alt="점성술사">
                <div class="item_status">
                    <div class="bis">
                        <div class="item_title">목표</div>
                        <div class="item weapon"></div>
                        <div class="item head"></div>
                        <div class="item chest"></div>
                        <div class="item hands"></div>
                        <div class="item waist"></div>
                        <div class="item legs"></div>
                        <div class="item feet"></div>
                        <div class="item ears"></div>
                        <div class="item neck"></div>
                        <div class="item wrist"></div>
                        <div class="item ring_left"></div>
                        <div class="item ring_right"></div>
                    </div>
                    <hr>
                    <div class="current">
                        <div class="item_title">현재</div>
                        <div class="item weapon"></div>
                        <div class="item head"></div>
                        <div class="item chest"></div>
                        <div class="item hands"></div>
                        <div class="item waist"></div>
                        <div class="item legs"></div>
                        <div class="item feet"></div>
                        <div class="item ears"></div>
                        <div class="item neck"></div>
                        <div class="item wrist"></div>
                        <div class="item ring_left"></div>
                        <div class="item ring_right"></div>
                    </div>
                </div>
            </div>
            <div class="job_box" id="DRG">
                <img class="job_img" src="static/icons/DRG.png" alt="용기사">
                <div class="item_status">
                    <div class="bis">
                        <div class="item_title">목표</div>
                        <div class="item weapon"></div>
                        <div class="item head"></div>
                        <div class="item chest"></div>
                        <div class="item hands"></div>
                        <div class="item waist"></div>
                        <div class="item legs"></div>
                        <div class="item feet"></div>
                        <div class="item ears"></div>
                        <div class="item neck"></div>
                        <div class="item wrist"></div>
                        <div class="item ring_left"></div>
                        <div class="item ring_right"></div>
                    </div>
                    <hr>
                    <div class="current">
                        <div class="item_title">현재</div>
                        <div class="item weapon"></div>
                        <div class="item head"></div>
                        <div class="item chest"></div>
                        <div class="item hands"></div>
                        <div class="item waist"></div>
                        <div class="item legs"></div>
                        <div class="item feet"></div>
                        <div class="item ears"></div>
                        <div class="item neck"></div>
                        <div class="item wrist"></div>
                        <div class="item ring_left"></div>
                        <div class="item ring_right"></div>
                    </div>
                </div>
            </div>
            <div class="job_box" id="MNK">
                <img class="job_img" src="static/icons/MNK.png" alt="몽크">
                <div class="item_status">
                    <div class="bis">
                        <div class="item_title">목표</div>
                        <div class="item weapon"></div>
                        <div class="item head"></div>
                        <div class="item chest"></div>
                        <div class="item hands"></div>
                        <div class="item waist"></div>
                        <div class="item legs"></div>
                        <div class="item feet"></div>
                        <div class="item ears"></div>
                        <div class="item neck"></div>
                        <div class="item wrist"></div>
                        <div class="item ring_left"></div>
                        <div class="item ring_right"></div>
                    </div>
                    <hr>
                    <div class="current">
                        <div class="item_title">현재</div>
                        <div class="item weapon"></div>
                        <div class="item head"></div>
                        <div class="item chest"></div>
                        <div class="item hands"></div>
                        <div class="item waist"></div>
                        <div class="item legs"></div>
                        <div class="item feet"></div>
                        <div class="item ears"></div>
                        <div class="item neck"></div>
                        <div class="item wrist"></div>
                        <div class="item ring_left"></div>
                        <div class="item ring_right"></div>
                    </div>
                </div>
            </div>
            <div class="job_box" id="NIN">
                <img class="job_img" src="static/icons/NIN.png" alt="닌자">
                <div class="item_status">
                    <div class="bis">
                        <div class="item_title">목표</div>
                        <div class="item weapon"></div>
                        <div class="item head"></div>
                        <div class="item chest"></div>
                        <div class="item hands"></div>
                        <div class="item waist"></div>
                        <div class="item legs"></div>
                        <div class="item feet"></div>
                        <div class="item ears"></div>
                        <div class="item neck"></div>
                        <div class="item wrist"></div>
                        <div class="item ring_left"></div>
                        <div class="item ring_right"></div>
                    </div>
                    <hr>
                    <div class="current">
                        <div class="item_title">현재</div>
                        <div class="item weapon"></div>
                        <div class="item head"></div>
                        <div class="item chest"></div>
                        <div class="item hands"></div>
                        <div class="item waist"></div>
                        <div class="item legs"></div>
                        <div class="item feet"></div>
                        <div class="item ears"></div>
                        <div class="item neck"></div>
                        <div class="item wrist"></div>
                        <div class="item ring_left"></div>
                        <div class="item ring_right"></div>
                    </div>
                </div>
            </div>
            <div class="job_box" id="SAM">
                <img class="job_img" src="static/icons/SAM.png" alt="사무라이">
                <div class="item_status">
                    <div class="bis">
                        <div class="item_title">목표</div>
                        <div class="item weapon"></div>
                        <div class="item head"></div>
                        <div class="item chest"></div>
                        <div class="item hands"></div>
                        <div class="item waist"></div>
                        <div class="item legs"></div>
                        <div class="item feet"></div>
                        <div class="item ears"></div>
                        <div class="item neck"></div>
                        <div class="item wrist"></div>
                        <div class="item ring_left"></div>
                        <div class="item ring_right"></div>
                    </div>
                    <hr>
                    <div class="current">
                        <div class="item_title">현재</div>
                        <div class="item weapon"></div>
                        <div class="item head"></div>
                        <div class="item chest"></div>
                        <div class="item hands"></div>
                        <div class="item waist"></div>
                        <div class="item legs"></div>
                        <div class="item feet"></div>
                        <div class="item ears"></div>
                        <div class="item neck"></div>
                        <div class="item wrist"></div>
                        <div class="item ring_left"></div>
                        <div class="item ring_right"></div>
                    </div>
                </div>
            </div>
            <div class="job_box" id="BRD">
                <img class="job_img" src="static/icons/BRD.png" alt="음유시인">
                <div class="item_status">
                    <div class="bis">
                        <div class="item_title">목표</div>
                        <div class="item weapon"></div>
                        <div class="item head"></div>
                        <div class="item chest"></div>
                        <div class="item hands"></div>
                        <div class="item waist"></div>
                        <div class="item legs"></div>
                        <div class="item feet"></div>
                        <div class="item ears"></div>
                        <div class="item neck"></div>
                        <div class="item wrist"></div>
                        <div class="item ring_left"></div>
                        <div class="item ring_right"></div>
                    </div>
                    <hr>
                    <div class="current">
                        <div class="item_title">현재</div>
                        <div class="item weapon"></div>
                        <div class="item head"></div>
                        <div class="item chest"></div>
                        <div class="item hands"></div>
                        <div class="item waist"></div>
                        <div class="item legs"></div>
                        <div class="item feet"></div>
                        <div class="item ears"></div>
                        <div class="item neck"></div>
                        <div class="item wrist"></div>
                        <div class="item ring_left"></div>
                        <div class="item ring_right"></div>
                    </div>
                </div>
            </div>
            <div class="job_box" id="MCH">
                <img class="job_img" src="static/icons/MCH.png" alt="기공사">
                <div class="item_status">
                    <div class="bis">
                        <div class="item_title">목표</div>
                        <div class="item weapon"></div>
                        <div class="item head"></div>
                        <div class="item chest"></div>
                        <div class="item hands"></div>
                        <div class="item waist"></div>
                        <div class="item legs"></div>
                        <div class="item feet"></div>
                        <div class="item ears"></div>
                        <div class="item neck"></div>
                        <div class="item wrist"></div>
                        <div class="item ring_left"></div>
                        <div class="item ring_right"></div>
                    </div>
                    <hr>
                    <div class="current">
                        <div class="item_title">현재</div>
                        <div class="item weapon"></div>
                        <div class="item head"></div>
                        <div class="item chest"></div>
                        <div class="item hands"></div>
                        <div class="item waist"></div>
                        <div class="item legs"></div>
                        <div class="item feet"></div>
                        <div class="item ears"></div>
                        <div class="item neck"></div>
                        <div class="item wrist"></div>
                        <div class="item ring_left"></div>
                        <div class="item ring_right"></div>
                    </div>
                </div>
            </div>
            <div class="job_box" id="SMN">
                <img class="job_img" src="static/icons/SMN.png" alt="소환사">
                <div class="item_status">
                    <div class="bis">
                        <div class="item_title">목표</div>
                        <div class="item weapon"></div>
                        <div class="item head"></div>
                        <div class="item chest"></div>
                        <div class="item hands"></div>
                        <div class="item waist"></div>
                        <div class="item legs"></div>
                        <div class="item feet"></div>
                        <div class="item ears"></div>
                        <div class="item neck"></div>
                        <div class="item wrist"></div>
                        <div class="item ring_left"></div>
                        <div class="item ring_right"></div>
                    </div>
                    <hr>
                    <div class="current">
                        <div class="item_title">현재</div>
                        <div class="item weapon"></div>
                        <div class="item head"></div>
                        <div class="item chest"></div>
                        <div class="item hands"></div>
                        <div class="item waist"></div>
                        <div class="item legs"></div>
                        <div class="item feet"></div>
                        <div class="item ears"></div>
                        <div class="item neck"></div>
                        <div class="item wrist"></div>
                        <div class="item ring_left"></div>
                        <div class="item ring_right"></div>
                    </div>
                </div>
            </div>
            <div class="job_box" id="RDM">
                <img class="job_img" src="static/icons/RDM.png" alt="적마도사">
                <div class="item_status">
                    <div class="bis">
                        <div class="item_title">목표</div>
                        <div class="item weapon"></div>
                        <div class="item head"></div>
                        <div class="item chest"></div>
                        <div class="item hands"></div>
                        <div class="item waist"></div>
                        <div class="item legs"></div>
                        <div class="item feet"></div>
                        <div class="item ears"></div>
                        <div class="item neck"></div>
                        <div class="item wrist"></div>
                        <div class="item ring_left"></div>
                        <div class="item ring_right"></div>
                    </div>
                    <hr>
                    <div class="current">
                        <div class="item_title">현재</div>
                        <div class="item weapon"></div>
                        <div class="item head"></div>
                        <div class="item chest"></div>
                        <div class="item hands"></div>
                        <div class="item waist"></div>
                        <div class="item legs"></div>
                        <div class="item feet"></div>
                        <div class="item ears"></div>
                        <div class="item neck"></div>
                        <div class="item wrist"></div>
                        <div class="item ring_left"></div>
                        <div class="item ring_right"></div>
                    </div>
                </div>
            </div>
            <div class="job_box" id="BLM">
                    <img class="job_img" src="static/icons/BLM.png" alt="흑마도사">
                    <div class="item_status">
                        <div class="bis">
                            <div class="item_title">목표</div>
                            <div class="item weapon"></div>
                            <div class="item head"></div>
                            <div class="item chest"></div>
                            <div class="item hands"></div>
                            <div class="item waist"></div>
                            <div class="item legs"></div>
                            <div class="item feet"></div>
                            <div class="item ears"></div>
                            <div class="item neck"></div>
                            <div class="item wrist"></div>
                            <div class="item ring_left"></div>
                            <div class="item ring_right"></div>
                        </div>
                        <hr>
                        <div class="current">
                            <div class="item_title">현재</div>
                            <div class="item weapon"></div>
                            <div class="item head"></div>
                            <div class="item chest"></div>
                            <div class="item hands"></div>
                            <div class="item waist"></div>
                            <div class="item legs"></div>
                            <div class="item feet"></div>
                            <div class="item ears"></div>
                            <div class="item neck"></div>
                            <div class="item wrist"></div>
                            <div class="item ring_left"></div>
                            <div class="item ring_right"></div>
                        </div>
                    </div>
                </div>
        </div></div></div></div>
    </section>
</section>
<section class="tab find_team">
    <section class="body">
        <div class="outer_1"><div class="outer_2"><div class="outer_3"><div class="sheet">
            <div class="sheet_title">공대 찾기</div>
            <div class="sheet_body">
                <img src="static/icons/not_found.png" id="find_error"> 공대 코드: <input type="text" id="find_input" placeholder="ex) 1B2L3A4A5K6">
                <img src="static/icons/go.png" class="submit_button" id="find_submit">
            </div>
        </div></div></div></div>
    </section>
    <section class="body">
        <div class="outer_1"><div class="outer_2"><div class="outer_3"><div class="sheet">
            <div class="sheet_title">공대 만들기</div>
            <div class="sheet_body">
                공대 이름: <input type="text" id="make_input" placeholder="공대 이름을 입력해주세요. (중복가능)">
                <img src="static/icons/go.png" class="submit_button" id="make_submit">
            </div>
        </div></div></div></div>
    </section>
</section>
</body>
</html>